In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
xls = pd.ExcelFile('2d_descriptorsfull.xls')
df0=pd.read_excel(xls, 'descriptors.xls')
df1 = pd.read_excel(xls, 'descriptors.xls_1')
df2 = pd.read_excel(xls, 'descriptors.xls_2')
df3 = pd.read_excel(xls, 'descriptors.xls_3')
df4 = pd.read_excel(xls, 'descriptors.xls_4')
df5 = pd.read_excel(xls, 'descriptors.xls_5')
df6 = pd.read_excel(xls, 'descriptors.xls_6')
df7 = pd.read_excel(xls, 'descriptors.xls_7')
df8 = pd.read_excel(xls, 'descriptors.xls_8')
df9 = pd.read_excel(xls, 'descriptors.xls_9')
df10 = pd.read_excel(xls, 'descriptors.xls_10')
df11 = pd.read_excel(xls, 'descriptors.xls_11')
df12 = pd.read_excel(xls, 'descriptors.xls_12')
df13 = pd.read_excel(xls, 'descriptors.xls_13')
df14 = pd.read_excel(xls, 'descriptors.xls_14')
df15 = pd.read_excel(xls, 'descriptors.xls_15')
df16 = pd.read_excel(xls, 'descriptors.xls_16')
df17 = pd.read_excel(xls, 'descriptors.xls_17')
df18 = pd.read_excel(xls, 'descriptors.xls_18')
df19 = pd.read_excel(xls, 'descriptors.xls_19')
df20 = pd.read_excel(xls, 'descriptors.xls_20')

In [3]:
df_final_2d = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,
                         df11, df12, df13, df14, df15, df16, df17, df18, df19, df20], axis=1)

In [4]:
df_final_2d

,SMILES,CASRN,RECORDID,MOLECULEID,EXTERNALID,N,NAME,INTRODUCER,MODIFIER,ARTICLEID,...,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL,COMMENTS
0,O=C(C=CC1=CC=C(O)C(O)=C1)NC(CC2=CC=C(O)C(O)=C2...,NaN,NaN,M217427,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,COC1=CC(C=CC(=O)C=C(O)C=CC2=CC=C(O)C(OC)=C2)=C...,NaN,NaN,M348638,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,CC(C)=CCCC(C)=CCCC1(C)C=CC2=C(C=C(C)C(C(=O)O)=...,NaN,NaN,M67240072,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,C1=CC=C(CCNC2=NC=NC3=CC=CC=C23)C=C1,NaN,NaN,M350952,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,ClC1=NC(NCC2=CC=CC=C2)=C3C=CC=CC3=N1,NaN,NaN,M350409,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,O=C1C2=C(O)C=C(O)C=C2OC(C3=CC=C(O)C(O)=C3)C1O,NaN,NaN,M55949,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
565,CCN1C(=CC=CC=2SC3=CC=CC=C3[N+]2CC)SC4=CC=CC=C4...,NaN,NaN,M325048,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
566,CN(C)C1=CC=C2C=C3C=CC(N(C)C)=CC3=NC2=C1,NaN,NaN,M2167,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
567,O=C(O)CN(CC(=O)O)CCN(CC(=O)O)CC(=O)O,NaN,NaN,M17214,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
568,C1CC=2C(=NC3=CC=CC=C3C2N)CC1,NaN,NaN,M13615,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
xls = pd.ExcelFile('3ddescriptorsfull.xls')
df0=pd.read_excel(xls, 'descriptors.xls')
df1 = pd.read_excel(xls, 'descriptors.xls_1')
df2 = pd.read_excel(xls, 'descriptors.xls_2')
df3 = pd.read_excel(xls, 'descriptors.xls_3')
df4 = pd.read_excel(xls, 'descriptors.xls_4')
df5 = pd.read_excel(xls, 'descriptors.xls_5')
df6 = pd.read_excel(xls, 'descriptors.xls_6')
df7 = pd.read_excel(xls, 'descriptors.xls_7')
df8 = pd.read_excel(xls, 'descriptors.xls_8')
df9 = pd.read_excel(xls, 'descriptors.xls_9')
df10 = pd.read_excel(xls, 'descriptors.xls_10')
df11 = pd.read_excel(xls, 'descriptors.xls_11')
df12 = pd.read_excel(xls, 'descriptors.xls_12')
df13 = pd.read_excel(xls, 'descriptors.xls_13')
df14 = pd.read_excel(xls, 'descriptors.xls_14')
df15 = pd.read_excel(xls, 'descriptors.xls_15')
df16 = pd.read_excel(xls, 'descriptors.xls_16')
df17 = pd.read_excel(xls, 'descriptors.xls_17')
df18 = pd.read_excel(xls, 'descriptors.xls_18')
df19 = pd.read_excel(xls, 'descriptors.xls_19')
df20 = pd.read_excel(xls, 'descriptors.xls_20')

In [6]:
df_final_3d=pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,
                         df11, df12, df13, df14, df15, df16, df17, df18, df19, df20], axis=1)

In [7]:
df_final_3d

,SMILES,CASRN,RECORDID,MOLECULEID,EXTERNALID,N,NAME,INTRODUCER,MODIFIER,ARTICLEID,...,CATS3D_11_LL,CATS3D_12_LL,CATS3D_13_LL,CATS3D_14_LL,CATS3D_15_LL,CATS3D_16_LL,CATS3D_17_LL,CATS3D_18_LL,CATS3D_19_LL,COMMENTS
0,O=C(C=CC1=CC=C(O)C(O)=C1)NC(CC2=CC=C(O)C(O)=C2...,NaN,NaN,M217427,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,COC1=CC(C=CC(=O)C=C(O)C=CC2=CC=C(O)C(OC)=C2)=C...,NaN,NaN,M348638,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,CC(C)=CCCC(C)=CCCC1(C)C=CC2=C(C=C(C)C(C(=O)O)=...,NaN,NaN,M67240072,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,C1=CC=C(CCNC2=NC=NC3=CC=CC=C23)C=C1,NaN,NaN,M350952,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,ClC1=NC(NCC2=CC=CC=C2)=C3C=CC=CC3=N1,NaN,NaN,M350409,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,O=C1C2=C(O)C=C(O)C=C2OC(C3=CC=C(O)C(O)=C3)C1O,NaN,NaN,M55949,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
565,CCN1C(=CC=CC=2SC3=CC=CC=C3[N+]2CC)SC4=CC=CC=C4...,NaN,NaN,M325048,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
566,CN(C)C1=CC=C2C=C3C=CC(N(C)C)=CC3=NC2=C1,NaN,NaN,M2167,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
567,O=C(O)CN(CC(=O)O)CCN(CC(=O)O)CC(=O)O,NaN,NaN,M17214,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
568,C1CC=2C(=NC3=CC=CC=C3C2N)CC1,NaN,NaN,M13615,NaN,NaN,NaN,NaN,NaN,-,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [8]:
df_ic50=pd.read_csv('IC50 (1).csv')

In [9]:
df_final=pd.concat([df_final_2d,df_final_3d,df_ic50],axis=1)

In [10]:
df_final=df_final.T

In [11]:
df_final

,0,1,2,3,4,5,6,7,8,9,...,559,560,561,562,563,564,565,566,567,568
SMILES,O=C(C=CC1=CC=C(O)C(O)=C1)NC(CC2=CC=C(O)C(O)=C2...,COC1=CC(C=CC(=O)C=C(O)C=CC2=CC=C(O)C(OC)=C2)=C...,CC(C)=CCCC(C)=CCCC1(C)C=CC2=C(C=C(C)C(C(=O)O)=...,C1=CC=C(CCNC2=NC=NC3=CC=CC=C23)C=C1,ClC1=NC(NCC2=CC=CC=C2)=C3C=CC=CC3=N1,COC1=CC=C(C2=CC(=O)C3=C(O)C=C(O)C(C4=CC(C5=CC(...,O=C(C=CC1=CC=C(O)C=C1)C2=CC=C(O)C=C2O,COC1=CC(C=CC(=O)CC(=O)C=CC2=CC=C(O)C(OC)=C2)=C...,OC(=O)C=CC1=CC=C(O)C(O)=C1,NCCCS(O)(=O)=O,...,O=C(C=CC1=CC(O)=CC2=C1C(C(O)OC(CC3=CC=C(O)C(O)...,CC12C3=CC=C4C(=C3C(=O)C=5OC=C(C51)C(=O)CC2O)CC...,OC(=O)C1=CC=CN=C1,O=C(CC1=CC=CC=C1)NC(CSSCC(NC(=O)CC2=CC=CC=C2)C...,O=C1C=C(C2=CC=C(O)C(C3=C(O)C=C(O)C=4C(=O)C=C(C...,O=C1C2=C(O)C=C(O)C=C2OC(C3=CC=C(O)C(O)=C3)C1O,CCN1C(=CC=CC=2SC3=CC=CC=C3[N+]2CC)SC4=CC=CC=C4...,CN(C)C1=CC=C2C=C3C=CC(N(C)C)=CC3=NC2=C1,O=C(O)CN(CC(=O)O)CCN(CC(=O)O)CC(=O)O,C1CC=2C(=NC3=CC=CC=C3C2N)CC1
CASRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RECORDID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOLECULEID,M217427,M348638,M67240072,M350952,M350409,M722293,M52869,M11618,M8969,M73268,...,M96541934,M3699064,M8847,M27351,M137236,M55949,M325048,M2167,M17214,M13615
EXTERNALID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CATS3D_17_LL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CATS3D_18_LL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CATS3D_19_LL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COMMENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IC50,1600.0,3900.0,24700.0,11900.0,16700.0,10100.0,19700.0,18250.0,32800.0,100000.0,...,1540.0,13400.0,43700.0,1950.0,4800.0,33000.0,3300.0,600.0,7700.0,12.21

In [12]:
df_final.drop_duplicates(inplace=True,)

In [13]:
df_final=df_final.T

In [14]:
df_final.drop(['SMILES','CASRN','MOLECULEID','ARTICLEID'],inplace=True,axis=1)

In [15]:
df_final

,MW,AMW,Sv,Se,Sp,Si,Mv,Me,Mp,Mi,...,Psychotic-50,Hypertens-80,Hypertens-50,Hypnotic-80,Hypnotic-50,Neoplastic-80,Neoplastic-50,Infective-80,Infective-50,IC50
0,359.4,8.357,28.24,44.46,28.28,48.29,0.657,1.034,0.658,1.123,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1600.0
1,368.4,7.839,30.56,47.8,31.34,52.41,0.65,1.017,0.667,1.115,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,3900.0
2,370.5,6.501,33.76,56.56,36.24,64.07,0.592,0.992,0.636,1.124,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24700.0
3,249.3,7.334,22.23,33.61,23.59,37.99,0.654,0.988,0.694,1.117,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,11900.0
4,269.8,8.702,21.53,31.05,22.68,34.51,0.694,1.002,0.732,1.113,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,16700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,304.3,8.949,23.16,35.59,22.75,37.96,0.681,1.047,0.669,1.116,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,33000.0
565,365.6,7.947,30.42,45.25,33.54,50.78,0.661,0.984,0.729,1.104,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3300.0
566,265.4,6.805,24.28,38.37,26.11,43.82,0.623,0.984,0.669,1.123,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,600.0
567,292.3,8.119,21.45,38.01,20.98,41.58,0.596,1.056,0.583,1.155,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7700.0
568,198.3,6.838,18.2,28.5,19.58,32.49,0.628,0.983,0.675,1.12,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,12.21

In [16]:
m = [0 if ele <= 1900 else 1 if ele <= 5800 else 2 for ele in df_final['IC50']]

In [17]:
df_final['Class']=m
df_final.drop('IC50', axis=1, inplace=True)

In [18]:
l = []
for i in range(0, 2280):
    for j in range(i+1, len(df_final.columns.to_list())):
        correlation = df_final[df_final.columns[i]].corr(df_final[df_final.columns[j]])
        if correlation >= 0.95:
            l.append(df_final.columns[j])
        else:
            pass

c:\Users\Akshat\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\Akshat\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [19]:
j=[]
for ele in l:
    if ele not in j:
        j.append(ele)

In [20]:
df_final.drop(j,axis=1,inplace=True)

In [27]:
df_final

,MW,AMW,Sv,Mv,Me,Mp,Mi,GD,nTA,nBM,...,PDI,BLTF96,DLS_02,DLS_03,DLS_04,DLS_06,DLS_cons,LLS_01,LLS_02,Class
0,359.4,8.357,28.24,0.657,1.034,0.658,1.123,0.083,7.0,15.0,...,0.845,-2.11,0.83,0.83,0.7,0.67,0.61,0.17,0.88,0
1,368.4,7.839,30.56,0.65,1.017,0.667,1.115,0.08,6.0,16.0,...,0.88,-2.87,1.0,1.0,0.6,1.0,0.8,0.33,1.0,1
2,370.5,6.501,33.76,0.592,0.992,0.636,1.124,0.08,8.0,10.0,...,0.886,-5.32,0.83,1.0,1.0,1.0,0.94,0.17,0.88,2
3,249.3,7.334,22.23,0.654,0.988,0.694,1.117,0.123,0.0,17.0,...,1.018,-4.72,1.0,1.0,0.6,1.0,0.87,0.67,1.0,2
4,269.8,8.702,21.53,0.694,1.002,0.732,1.113,0.123,1.0,17.0,...,1.023,-4.95,1.0,1.0,0.6,1.0,0.76,0.83,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,304.3,8.949,23.16,0.681,1.047,0.669,1.116,0.104,6.0,13.0,...,0.841,-1.32,1.0,1.0,0.4,1.0,0.77,0.33,1.0,2
565,365.6,7.947,30.42,0.661,0.984,0.729,1.104,0.093,2.0,15.0,...,1.023,-4.75,1.0,1.0,0.8,1.0,0.9,0.33,1.0,1
566,265.4,6.805,24.28,0.623,0.984,0.669,1.123,0.116,4.0,16.0,...,1.0,-3.84,1.0,1.0,0.8,1.0,0.9,1.0,1.0,0
567,292.3,8.119,21.45,0.596,1.056,0.583,1.155,0.1,8.0,4.0,...,0.769,-0.24,0.67,0.83,0.9,0.67,0.72,0.33,0.75,2
568,198.3,6.838,18.2,0.628,0.983,0.675,1.12,0.162,1.0,11.0,...,1.052,-3.27,0.67,0.83,0.8,1.0,0.83,1.0,1.0,0

In [21]:
k=[ele for ele in df_final.columns if df_final[ele].nunique()<=4 if df_final['Class'].corr(df_final[ele]<=0.20)]

c:\Users\Akshat\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\Akshat\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [22]:
k.remove('Class')

In [23]:
len(k)

358

In [24]:
df_final.drop(k,axis=1,inplace=True)

In [25]:
abs(df_final.corr()['Class']).sort_values(ascending=False)

Class     1.000000
C-005     0.332119
C-016     0.311954
MATS2p    0.299658
MATS2i    0.280997
            ...
GATS7e    0.002601
CENT      0.002564
MATS6v    0.001726
MATS8p    0.001682
O%        0.001006
Name: Class, Length: 738, dtype: float64

In [26]:
df_final.to_csv('Compiled_descriptors.csv')